{% extends "/layouts/admin-layout.html" %}

{% block title%}
Winkel | Administration
{% endblock %}

{% block main %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Edit Product</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Products</li>
        </ol>
        <div class="col-md-4">
            <form>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter name">
                  <small id="emailHelp" class="form-text text-muted">Product name</small>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" id="price" aria-describedby="price" placeholder="Enter price">
                    <small id="emailHelp" class="form-text text-muted">Product price</small>
                </div>
                <div class="form-group">
                    <label for="image_url">Image Url</label>
                    <input type="text" class="form-control" id="image_url" aria-describedby="image_url" placeholder="Enter image url">
                    <small id="emailHelp" class="form-text text-muted">Product image</small>
                </div>
    
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</main>
{% endblock %}