{% extends "/layouts/admin-layout.html" %}

{% block title%}
Winkel | Administration
{% endblock %}

{% block main %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Products</li>
        </ol>
        <div class="offset-md-11">
            <a class="btn btn-primary" href="/admin/product/add">Create Product</a>
        </div>
        <br />
        {% if products|length == 0 %}
        <div class="offset-md-3">
            <h4>There are no products at this moment. Please, create new!</h4>
        </div>
        {% endif %}
        
        {% if products|length > 0 %}
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Available Products
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <td>{{product.id}}</td>
                                <td>{{product.name}}</td>
                                <td>${{product.price}}</td>
                                <td><a class="btn btn-primary" href="/admin/product/edit/{{product.id}}">Edit</a> <a class="btn btn-danger" href="/admin/product/delete/{{product.id}}">Delete</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</main>

{% endblock %}